﻿@model CurrencyConverter.Models.CurrencyViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        for (var i = 0; i < Model.Currencies.Count; i++)
        {
            <p>@Html.CheckBoxFor(c => c.Currencies[i].IsSelected) @Model.Currencies[i].Abbreviation</p>
            @Html.HiddenFor(c => c.Currencies[i].ExchangeRate)
            @Html.HiddenFor(c => c.Currencies[i].Name)
        }
        <p>Amount in danish kr.</p>
        <div>@Html.EditorFor(m => m.Amount) danish kr.</div>
        <input type="submit" value="Show Value" />
    }
</body>
</html>
