﻿@model CurrencyConverter.Models.CurrencyViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Result</title>
</head>
<body>
    <div> 
        @foreach (var item in Model.Currencies)
        {
            if (item.IsSelected)
            {
                <div>@Model.Amount danish kr. is equivalent to @item.Convert(Model.Amount) @item.Name</div>
            }
        }
    </div>
</body>
</html>
